@tailwind base;
@tailwind components;

body {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}

[data-placeholder]:empty::before {
  content: attr(data-placeholder);
  color: #c7c7c7d1;
}

.display {
  display: none;
}

.blueLike {
  color: dodgerblue;
}

.redLike {
  color: rgb(237, 89, 89);
}

.dotsBody {
  max-height: 300px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.dotsTitle {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@tailwind utilities;
